.f-25{
    font-size: 25px;
  }
.f-22{
font-size: 22px;
}
.f-20{
font-size: 20px;
}
.f-18{
font-size: 18px;
}
.f-16{
    font-size: 16px;
    }
.f-15{
font-size: 15px;
}

.m0{
margin: 0px;
}

.m1{
margin: 8px;
}

.m2{
margin: 12px;
}

.m3{
margin: 16px;
}

.m4{
margin: 20px;
}

.m5{
margin: 25px;
}

.m0{
margin-right: 0px;
}

.m1-r{
margin-right: 8px;
}

.m2-r{
margin-right: 12px;
}

.m3-r{
margin-right: 16px;
}

.m4-r{
margin-right: 20px;
}

.m5-r{
margin-right: 25px;
}

.m0-l{
margin-left: 0px;
}

.m1-l{
margin-left: 8px;
}

.m2-l{
margin-left: 12px;
}

.m3-l{
margin-left: 16px;
}

.m4-l{
margin-left: 20px;
}

.m5-l{
margin-left: 25px;
}

.m0-b{
margin-bottom: 0px;
}

.m1-b{
margin-bottom: 8px;
}

.m2-b{
margin-bottom: 12px;
}

.m3-b{
margin-bottom: 16px;
}

.m4-b{
margin-bottom: 20px;
}

.m5-b{
margin-bottom: 25px;
}

.m0-t{
margin-top: 0px;
}

.m1-t{
margin-top: 8px;
}

.m2-t{
margin-top: 12px;
}

.m3-t{
margin-top: 16px;
}

.m4-t{
margin-top: 20px;
}

.m5-t{
margin-top: 25px;
}

.p0{
padding: 0px;
}
.p1{
padding: 8px;
}
.p2{
padding: 12px;
}
.p3{
padding: 16px;
}
.p4{
padding: 20px;
}
.p5{
padding: 25px;
}
/* p top */
.p0-t{
padding-top: 0px;
}
.p1-t{
padding-top: 8px;
}
.p2-t{
padding-top: 12px;
}
.p3-t{
padding-top: 16px;
}
.p4-t{
padding-top: 20px;
}
.p5-t{
padding-top: 25px;
}
/* p bottom */
.p0-b{
padding-bottom: 0px;
}
.p1-b{
padding-bottom: 8px;
}
.p2-b{
padding-bottom: 12px;
}
.p3-b{
padding-bottom: 16px;
}
.p4-b{
padding-bottom: 20px;
}
.p5-b{
padding-bottom: 25px;
}

/* p right */
.p0-r{
padding-right: 0px;
}
.p1-r{
padding-right: 8px;
}
.p2-r{
padding-right: 12px;
}
.p3-r{
padding-right: 16px;
}
.p4-r{
padding-right: 20px;
}
.p5-r{
padding-right: 25px;
}

/* p left */
.p0-l{
padding-left: 0px;
}
.p1-l{
padding-left: 8px;
}
.p2-l{
padding-left: 12px;
}
.p3-l{
padding-left: 16px;
}
.p4-l{
padding-left: 20px;
}
.p5-l{
padding-left: 25px;
}

.b{
border: 1px solid black;
}

.b-t{
border-top: 1px solid black !important;
}

.b-b{
border-bottom: 1px solid black !important;
}

.b-r{
border-right: 1px solid black;
}

.b-l{
border-left: 1px solid black;
}
.b-tt{
/* border-bottom: 1px solid white !important;
border-top: 1px solid black;*/
}
.b-none{
border-bottom: none;
}
/*width */
.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.w-70{
    width: 70%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 60%;
}
.w-20{
    width: 20%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

/*line height*/
.lh-1{
    line-height: 1;
}

.lh-1h{
    line-height: 1.5;
}

.lh-2{
    line-height: 2;
}

.lh-2h{
    line-height: 2.5;
}

.lh-3{
    line-height: 3;
}
.lh-3h{
    line-height: 3;
}

.lh-4{
    line-height: 3;
}
.break-all-word{ 
    word-break: break-all !important;
}
.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #f2f2f2;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.bold{
    font-weight: bold;
}
.bordertopbotom{
    border-top:3px solid #f2f2f2 !important;
    border-bottom:3px solid #f2f2f2 !important;

}