.select2-results li {
    padding: 7px;
}
.select2-container .select2-choice .select2-arrow, .select2-selection__arrow {
    width: 25px;
    border-left: none;
    background: none;
}
.select2-selection__placeholder {
    color: #999;
}
.select2-dropdown--below {
    top: -32px;
}
.select2-search {
    padding: 0;
}
.select2-search:before {
    content: "";
}
.select2-search input {
    height: 32px !important;
    border: 0;
    border-bottom: solid 1px #ccc;
    background-image: none;
    background-color: #fff;
}
.select2-container--open .select2-dropdown {
    border: solid 1px #ccc;
}