
/* 24. Transaction table */
.transaction-table tbody>tr>td {
	padding: 0;
	margin: 0;
}
.receipt thead th {
	background-color: #ecffe8;
	border: solid 1px #ddd !important;
	text-align: center;
	text-transform: uppercase;
}
.payment thead th {
	background-color: #ffe8e8;
	border: solid 1px #ddd !important;
	text-align: center;
	text-transform: uppercase;
}
.orders thead th {
	background-color: #f2f2f2;
	border: solid 1px #ddd !important;
	text-align: center;
	text-transform: uppercase;
}
.transaction-table thead .add-line {
	text-align: right !important;
	background-color: #fff;
	border: none !important;
	text-transform: none;
}
.transaction-table tbody td {
	border: solid 1px #ddd;
	vertical-align: top !important;
}
.transaction-table tfoot tr td {
	text-align: right;
	border-top: dashed 1px #ddd;
}
.transaction-table tfoot tr:last-child {
	font-weight: bold;
	border-top: solid 1px #ddd;
	border-bottom: solid 2px #ddd;
}
.transaction-table h6 {
	font-size: 14px;
	margin: 0;
}
.transaction-table .form-control {
	text-align: right;
	border: 0;
}
.transaction-table .select2-selection {
	border: 0;
}
.transaction-table .item-action-container {
	position: relative;
}
.transaction-table .item-action-container .item-action {
	position: absolute;
	right: -30px;
	top: -35px;
}
table .disabled {
	background-color: #eee;
	color: #555;
	padding: 6px 12px !important;
	text-align: right;
	cursor: not-allowed;
}
.transaction-table .remarks textarea {
	text-align: left;
	border: dashed 1px #777;
	height: 60px;
	width: calc(100% - 8px);
	margin: 4px;
	padding: 3px 3px 3px 5px;
	margin-top: 5px;
	font-size: 12px;
	overflow: auto;
}
/* END transaction table */
.orders thead th {
	background-color: #f2f2f2;
	border: solid 1px #ddd !important;
	text-align: center;
	text-transform: uppercase;
}