
.flip {
-webkit-perspective: 800;
perspective: 800;

    position: relative;

}
.flip .card.flipped {
-webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
}
.flip .card {

height: 100%;
-webkit-transform-style: preserve-3d;
-webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

-webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
z-index: 2;
    
}
.flip .card .front {
position: absolute;
    width: 100%;
z-index: 1;

}
.flip .card .back {
-webkit-transform: rotatex(-180deg);
      transform: rotatex(-180deg);
}
.inner{margin:0px !important;}